








/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/

#canvas {
    margin: 40px auto;
    padding: 40px 40px 0px;
    max-width: 1024px;
    border: 1px #ccb1dc solid;
    box-sizing: content-box;
}

/*@media only screen and (max-width: 1460px) {
    #canvas {
        margin: 80px;
    }
}*/

@media only screen and (max-width: 1024px) {
    #canvas {
        border: 0px;
    }
}

header nav ul {
    border-bottom: 1px #ccb1dc solid;
    margin: 10px auto;
    list-style: none;
    text-align: center;
}

header nav li {
    display: inline-block;
}

header nav li a {
    border: 1px #ccb1dc solid;
    border-bottom: 1px white solid;
    border-radius: 10px 10px 0 0;
    padding: 10px 10px 1px;
    margin: 0px 4px;
    margin-bottom: -1px;
    background-color: white;
}

    header nav li a:hover {
        background-color: #ccb1dc
    }