<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mattazeblog2021_site2</title>
    <link rel="icon" type="image/svg+xml" href="/images/mattaze_skull_logo2021_simplified_clean.svg">
    <link rel="alternate icon" href="/favicon.ico">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="canvas">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="">

                </div>
                <a class="brand" href="/">
                    <h1>
                        <span>MATT AZE </span>
                        <span><img src="~/images/mattaze_skull_logo2021_simplified_clean.svg" /></span>
                    </h1>
                </a>
                <ul>
                    <li>
                        <a href="/blog">Blog Roll</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/images">Images</a>
                    </li>
                    <li>
                        <a href="/posts">Posts</a>
                    </li>
                    <li>
                        <a href="/editpost">New Post</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - mattazeblog2021_site - <a href="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
